version: "3.9"

services:
  neo4j:
    image: neo4j:5.16-community
    container_name: neo4j-flights
    restart: unless-stopped

    ports:
      - "7474:7474"
      - "7687:7687"

    environment:
      - NEO4J_AUTH=neo4j/password

      # ===== PAMIĘĆ (KLUCZOWE) =====
      - NEO4J_server_memory_heap_initial__size=2G
      - NEO4J_server_memory_heap_max__size=4G
      - NEO4J_server_memory_pagecache_size=2G

    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
      - neo4j_import:/var/lib/neo4j/import

  flight-importer:
    build:
      context: .
      dockerfile: Dockerfile.importer
    container_name: flight-importer
    depends_on:
      neo4j:
        condition: service_started
    working_dir: /app
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password
      - DATA_DIR=/app/data
      - NEO4J_CONNECT_RETRIES=60
      - NEO4J_CONNECT_DELAY=2
    volumes:
      - .:/app:ro
    restart: "no"

volumes:
  neo4j_data:
  neo4j_logs:
  neo4j_import:
